<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}실시간 토마토 모니터링{% endblock %}</title>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <!-- 공통 CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
